body, html {
  height: 100%;
  margin: 0;
}

.main-content {
  padding-top: 80px; /* pour éviter que la navbar chevauche */
  padding-left: 20px;
  padding-right: 20px;
  min-height: calc(100vh - 80px); /* hauteur totale - navbar */
  background-color: #f8f9fa; /* fond clair optionnel */
}
